body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(255, 255, 255);
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
  height: 100px;
  border-radius: 50%;
}

.maindiv {
  border: 4px solid #0F2027;
  padding: 16px;
  box-shadow: 8px 8px #203A43;
  border-radius: 10%;
}

.dark {
  background: black;  
}

a {
  color: white;
  text-decoration: none;
}

#linkedin {
  color:#0072b1;
}

.socials {
  padding: 16px 0px;
}

.form {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  border: 2px solid #0F2027;
  border-radius: 5%;
  margin: 15px 0px;
}

